@charset "utf-8";

/*//////////////////////////////////////////////////////////////////////////////////////////////

	margin set

//////////////////////////////////////////////////////////////////////////////////////////////*/

p{
margin:0;
}

table{
margin:0;
word-break:break-all;
word-wrap:break-word;
}

ul,
ol,
dl,
dl dd{
margin:0;
padding:0;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////

	link style

//////////////////////////////////////////////////////////////////////////////////////////////*/

a{
color:#000;
text-decoration:underline;
}

a:hover,
a:active {
text-decoration:none;
}


/*//////////////////////////////////////////////////////////////////////////////////////////////

	base style

//////////////////////////////////////////////////////////////////////////////////////////////*/
html,
body{
height:100%;
}

body{
background:#fff;
color:#000;
}

#wrapper{
min-height:100%;
/height:100%;
position:relative;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////

	header style

//////////////////////////////////////////////////////////////////////////////////////////////*/
#header{
}



/*//////////////////////////////////////////////////////////////////////////////////////////////

	gnav style

//////////////////////////////////////////////////////////////////////////////////////////////*/
#gnav{
}



/*//////////////////////////////////////////////////////////////////////////////////////////////

	topicpath style

//////////////////////////////////////////////////////////////////////////////////////////////*/
.topicpath{
}


/*//////////////////////////////////////////////////////////////////////////////////////////////

	aside style

//////////////////////////////////////////////////////////////////////////////////////////////*/
#aside{
}


/*//////////////////////////////////////////////////////////////////////////////////////////////

	container style

//////////////////////////////////////////////////////////////////////////////////////////////*/
#container{
}

/*//////////////////////////////////////////////////////////////////////////////////////////////

	contents style

//////////////////////////////////////////////////////////////////////////////////////////////*/
#contents{
padding-bottom:*****px;
}




/*//////////////////////////////////////////////////////////////////////////////////////////////

	footer style

//////////////////////////////////////////////////////////////////////////////////////////////*/
#footer{
height:*******px;
position:absolute;
width:100%;
bottom:0;
}

