<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<meta http-equiv="content-language" content="ja" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="author" content="" />
<meta name="copyright" content="" />
<title>ページタイトル｜サイト名</title>
<link type="text/css" rel="stylesheet" href="../common/css/import.css" />
<script type="text/javascript" src="../common/scripts/jsloader.js"></script>
</head>

<body>
<div id="wrapper">

<div id="header">
<!-- / #header --></div>

<div id="gnav">
<!-- / #gnav --></div>

<div class="topicpath">
<!-- / .topicpath --></div>


<p class="templatesTitle">ユニット</p>
<p class="templatesName">セクション(.sectionTypeA01)</p>
<div class="mhfUnit01 sectionTypeA01">
<br /><br />
<p>sectionTypeA01(margin-bottom:**px;)</p>
<br /><br />
</div>

<div class="mhfUnit02 sectionTypeA02">
<br /><br />
<p>sectionTypeA02(margin-bottom:**px;)</p>
<br /><br />
</div>

<div class="mhfUnit03 sectionTypeA03">
<br /><br />
<p>sectionTypeA03(margin-bottom:**px;)</p>
<br /><br />
</div>


<p class="templatesTitle">見出し</p>
<p class="templatesName">大見出し（.headingTypeA01）</p>
<p class="headingTypeA01">基本 [H1]ここに大見出し</p>

<p class="templatesName">大見出し（.headingTypeA02）</p>
<p class="headingTypeA02">基本 [H1]ここに大見出し</p>

<p class="templatesName">大見出し（.headingTypeA03）</p>
<p class="headingTypeA03">基本 [H1]ここに大見出し</p>


<p class="templatesTitle">カラム</p>
<p class="templatesName">２カラム(.columnTypeA01)</p>
<div class="mhfColumn01 columnTypeA01">
<div class="mhfColumn01Inner01 columnTypeA01Inner">columnTypeA01Inner</div>
<div class="mhfColumn01Inner01 columnTypeA01Inner">columnTypeA01Inner</div>
</div>

<p class="templatesName">インラインカラム(.columnTypeB01)</p>
<div class="mhfInlineBlock01 columnTypeB01">
<div class="mhfInlineBlock01Inner01 columnTypeB01Inner">columnTypeB01Inner</div>
<div class="mhfInlineBlock01Inner01 columnTypeB01Inner">columnTypeB01Inner</div>
<div class="mhfInlineBlock01Inner01 columnTypeB01Inner">columnTypeB01Inner</div>
</div>

<p class="templatesName">画像カラム右(.imgColumnTypeA01)</p>
<div class="mhfColumnImage01 imgColumnTypeA01">
<p class="imageColumn"><img src="images/dummy_gray.gif" alt="" width="500" height="100" /></p>
<div class="blockColumn">
<p>テキスト</p>
</div>
</div>

<p class="templatesName">画像カラム左(.imgColumnTypeA02)</p>
<div class="mhfColumnImage02 imgColumnTypeA02">
<p class="imageColumn"><img src="images/dummy_gray.gif" alt="" width="500" height="100" /></p>
<div class="blockColumn">
<p>テキスト</p>
</div>
</div>

<p class="templatesName">画像カラム右(.imgColumnTypeB01)</p>
<div class="mhfColumnFloatImage01 imgColumnTypeB01">
<p class="imageColumn"><img src="images/dummy_gray.gif" alt="" width="500" height="100" /></p>
<div class="blockColumn">
<p>テキスト</p>
</div>
</div>

<p class="templatesName">画像カラム左(.imgColumnTypeB02)</p>
<div class="mhfColumnFloatImage02 imgColumnTypeB02">
<p class="imageColumn"><img src="images/dummy_gray.gif" alt="" width="500" height="100" /></p>
<div class="blockColumn">
<p>テキスト</p>
</div>
</div>

<p class="templatesTitle">リスト</p>
<p class="templatesName">**リスト(.listTypeA01)</p>
<ul class="mhfNotesList01 listTypeA01">
<li>テキスト</li>
<li>テキスト</li>
<li>テキスト</li>
</ul>

<p class="templatesName">順序リスト(.listTypeB01)</p>
<ol class="mhfOrderedList01 listTypeB01">
<li></li>
<li></li>
<li></li>
</ol>

<p class="templatesName">画像リスト(.imgListTypeA01)</p>
<ul class="mhfImageList01 imgListTypeA01">
<li><img src="common/images/dummy_gray.gif" width="100" height="100" alt="" /></li>
<li><img src="common/images/dummy_gray.gif" width="100" height="100" alt="" /></li>
<li><img src="common/images/dummy_gray.gif" width="100" height="100" alt="" /></li>
</ul>

<p class="templatesName">横並び画像リスト(.imgListTypeB01)</p>
<ul class="mhfHorizontalImageList01 imgListTypeB01">
<li><img src="common/images/dummy_gray.gif" width="100" height="100" alt="" /></li>
<li><img src="common/images/dummy_gray.gif" width="100" height="100" alt="" /></li>
<li><img src="common/images/dummy_gray.gif" width="100" height="100" alt="" /></li>
</ul>

<p class="templatesName">フォントサイズ(.mhfFontSizeLarge**)</p>
<p class="mhfFontSizeLarge01">14px</p>
<p class="mhfFontSizeLarge02">16px</p>
<p class="mhfFontSizeLarge03">18px</p>
<p class="mhfFontSizeLarge04">20px</p>
<p class="mhfFontSizeLarge05">22px</p>
<p class="mhfFontSizeLarge06">24px</p>
<p class="mhfFontSizeSmall01">フォント最小値(.mhfFontSizeSmall01:10.5px)</p>
<!-- / #contents --></div>

<!-- / #container --></div>

<div id="footer">
<!-- / #footer --></div>

<!-- / #wrapper --></div>
</body>
</html>
